
.navbar-text{
    color:#1e41b4;


}
.navbar {
    box-shadow: 0 0 5px 0 #cecfd3;
    padding: 12px;
}
.nav-link {
    font-size: 15px;
    font-weight: 500;
}
.nav-link.active {
    color:#1e41b4;

}
a.nav-link{
    font-size: 15px;
}

