body {
    background-color: #e5e5e5;
}
p {
    color: #344563;
}

.navbar-text{
    color:#1e41b4;

}
.navbar {
    box-shadow: 0 0 5px 0 #cecfd3;
    padding: 12px;
}
.nav-link {
    font-size: 15px;
    font-weight: 500;
}
.nav-link.active {
    color:#1e41b4;

}
a.nav-link{
    font-size: 15px;
}

.display-1 {
    font-size: 48px;
    color: #091E42;
    margin-top: 200px;
    font-weight: 700;
}

.connect {
    color: #7f8cff;
    font-weight: 700;
    font-size: 20px;
}

.hero-image {
    height: 900px;
    background: #fff url("images/desktop-version/main-page-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 80px;
}



  #about-section {
    background-color: #fff;
    border-top-left-radius: 80px;
    height: 700px;
    margin-top: 150px;
  }

  .about-text {
    margin-top: 142px;
  }

  .about-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .lang-container {
    width: 122px;
    height: 120px;
    margin-right: 12px;
    background-color: #F7F7F9;
    align-items: center;
    border-radius: 6px;
  }

  .lang-texts {
    margin-top: 20px;
    color: #253858;
    font-size: 15px;
    font-weight: 500;
  }


