body {
    background-color: #e5e5e5;
}
p {
    color: #344563;
}

.navbar-text{
    color:#1e41b4;

}
.navbar {
    box-shadow: 0 0 5px 0 #cecfd3;
    padding: 12px;
}
.nav-link {
    font-size: 15px;
    font-weight: 500;
}
.nav-link.active {
    color:#1e41b4;

}
a.nav-link{
    font-size: 15px;
}

.display-1 {
    font-size: 48px;
    color: #091E42;
    margin-top: 200px;
    font-weight: 700;
}

.connect {
    color: #7f8cff;
    font-weight: 700;
    font-size: 20px;
}

.hero-image {
    height: 900px;
    background: #fff url("images/desktop-version/main-page-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 80px;
}

#portfolio {
    margin-top: 70px;
}
.card-portfolio{
    margin-left: 80px;

}
.port-title {
    font-weight: 700;
    font-size: 40px;
    color: #091E42;
    padding-top: 38px;
    padding-left: 0;

}
.portfolio-i {
    background-color: #fff;
    margin-top: 30px;
    border-radius: 24px;
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.skill {
   font-weight: 500;
   font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.port-text {
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;

}
.lang {
    font-weight: 500;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.03em;
color: #6070FF;
background: #EBEBFF;
border-radius: 8px;
padding: 4px 12px;
margin: 12px;

}
.seeproject {
    background: #FFFFFF;
border: 1px solid #DFE1E6;
border-radius: 24px;
font-weight: 500;
font-size: 17px;
line-height: 24px;
color: #396DF2;
padding: 14px 18px;
}
.seeproject:hover {
    background: #6070ff;
    color: #fff;
  }

  .left-box {
    background-color: blue;
  }

  .right-box {
    background-color: cyan;
  }

  #about-section {
    background-color: #fff;
    border-top-left-radius: 80px;
    height: 700px;
    margin-top: 150px;
  }

  .about-text {
    margin-top: 142px;
  }

  .about-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .lang-container {
    width: 122px;
    height: 120px;
    margin-right: 12px;
    background-color: #F7F7F9;
    align-items: center;
    border-radius: 6px;
  }

  .lang-texts {
    margin-top: 20px;
    color: #253858;
    font-size: 15px;
    font-weight: 500;
  }


